{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}

<style>
    .b{
        border-radius: 30px;
    }
</style>

<div class="container mt-5">
  <div class="row align-items-start">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card shadow-lg b">
          <div class="card-title text-center mt-4 mb-4">
              <strong>
                  <h2>Mail was sent with password reset.</h2>
                  <h4 class="mt-5">If u dont have an mail check spam.</h4>
              <strong>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}
