{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<style>
    .b{
        border-radius: 15px;
    }
    img{
        width: 40%;
        border-radius: 50%;
    }
</style>

<div class="container mx-5 row">
    <div class="row row-cols-3">
        <div>
            <a href="{% url 'accounts:profile' user.id %}" class="btn btn-outline-dark mt-5 b mx-5">Back</a>
        </div>
    </div>
</div>

<div class="container mt-5">
  <div class="row align-items-start">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card shadow-lg b">
          <div class="card-title text-center mt-4">
              <strong>
                  {% if request.user.is_authenticated %}
                  <h2>{{request.user.username}} - profile</h2>
                  {% else %}
                  <h4>You are not authenticated</h4>
                  {% endif %}
              </strong>
          </div>
          <hr/>
          <div class="card-body">
              {% if request.user.is_authenticated %}
                  <form class="text-center col-sm-12 mx-auto row mb-3"
                        method="post">{% csrf_token %}
                      <div class="form-floating col-8 mx-auto mt-2">
                          <input class="form-control border-dark" name="old_password" id="floatingInput" type="password">
                          <label for="floatingInput">Old password</label>
                      </div>
                      <div class="form-floating col-8 mx-auto mt-3">
                          <input class="form-control border-dark" name="new_password1" id="floatingInput" type="password">
                          <label for="floatingInput">New password</label>
                      </div>
                      <div class="form-floating col-8 mx-auto mt-3">
                          <input class="form-control border-dark" name="new_password2" id="floatingInput" type="password">
                          <label for="floatingInput">Confirm new password</label>
                      </div>
                      <div class="col-8 mx-auto">
                          <button type="submit" class="btn btn-outline-primary btn-lg mt-3">Update password</button>
                      </div>
                  </form>
              </div>
              {% endif %}
          </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}
