{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}

<style>
    .b{
        border-radius: 15px;
    }
</style>


<div class="container mt-5">
  <div class="row align-items-start">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card shadow-lg b">
          <div class="card-title text-center mt-4">
              <strong>
                  <h2>Sign up</h2>
              </strong>
          </div>
          <hr/>
          <form class="card-body mt-3" method="post">{% csrf_token %}
              <div class="form-floating mx-5 mt-2">
                  <input class="form-control border-dark" id="floatingInput"
                            type="email" name="email" maxlength="30">
                  <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating mx-5 mt-2">
                  <input class="form-control border-dark" id="floatingInput"
                            maxlength="30" type="password" name="password">
                  <label for="floatingInput">Password</label>
              </div>
              <div class="mx-5">
                  <div class="card-footer text-center mx-5 row mb-3">
                      <button class="btn btn-success btn-lg mt-3" type="submit">Sign in</button>
                  </div>
                  <div class="text-center">
                      Forgot a password click <a href="{% url 'reset-password' %}">here</a>
                  </div>
              </div>
          </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}
