{% extends 'master.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

<style>
    .b{
        border-radius: 15px;
    }
</style>


<div class="container mt-5">
  <div class="row align-items-start">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card shadow-lg b">
          <div class="card-title text-center mt-4 row col">
              <strong>
                  <a class="btn btn-outline-dark btn-small mb-3" href="{% url 'accounts:profile' %}">Back</a>
                  <h2>Update profile</h2>
              </strong>
          </div>
          <form>
              <hr/>
                {{form|crispy}}
<!--              <div class="form-floating col-6 mx-auto mt-2">-->
<!--                  <input class="form-control border-dark" id="floatingInput" value="{{request.user.username}}"-->
<!--                         name="username" type="text">-->
<!--                  <label for="floatingInput">Username</label>-->
<!--              </div>-->
<!--              <div class="form-floating col-6 mx-auto mt-2">-->
<!--                  <input class="form-control border-dark" id="floatingInput" value="{{request.user.first_name}}"-->
<!--                         name="first_name" type="text">-->
<!--                  <label for="floatingInput">First name</label>-->
<!--              </div>-->
<!--              <div class="form-floating col-6 mx-auto mt-2 mb-5">-->
<!--                  <input class="form-control border-dark" id="floatingInput" value="{{request.user.last_name}}"-->
<!--                         name="last_name" type="text">-->
<!--                  <label for="floatingInput">Last name</label>-->
<!--              </div>-->
              <div class="card-footer col-6 mx-auto row mb-3">
                  <button class="btn btn-outline-primary btn-lg mt-3" type="submit">Update</button>
              </div>
          </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}
