
{% load static %}

<style>
    .i{
        width: 60px;
        height: 40px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="i" src="{% static 'images/logo.png' %}">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link  mx-2" href="{% url 'blogs:blog' %}">Blog</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {{request.user.username}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button">Profile</button></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
