{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<style>
    img{
        width: 75%;
        border-radius: 15px;
    }
    .b{
        border-radius: 15px;
    }
    .card{
        border-radius: 40px;
    }
</style>

{% if user.is_admin %}
<div class="container mx-2 row">
    <div class="row row-cols-3">
        <div>
        </div>
        <div class="text-center">
            <a href="{% url 'contacts:list' %}" class="btn btn-outline-dark mt-5 b ">List of messages</a>
        </div>
        <div>
        </div>
    </div>
</div>
{% endif %}

{% for contact in contacts %}
<div class="container mt-5">
  <div class="row align-items-start">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card shadow-lg b">
        <div class="card-header mt-3"></div>
          <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{contact.title}}</h5>
            </div>
            <hr/>
            <div class="mx-5">
                <p class="card-text">{{contact.body}}</p>
            </div>
            <hr/>
              {% if user.is_authenticated %}
                <div class="card-text col-6 mx-auto mt-3 row text-center mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <h6>If u want to contact with me:</h6><a class="btn btn-outline-primary">click</a>
                </div>
              {% else %}
                <div class="card-text col-6 mx-auto mt-3 text-center mb-3">
                  <h6>If u want to contact with me:</h6>
                    <a class="btn btn-outline-primary disabled" disabled="">click</a>
                </div>
              {% endif %}
          </div>
        </div>
        </div>
        </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endfor %}

<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content b">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'contacts/contact_message.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
