{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<style>
    .b{
        border-radius: 15px;
    }
    .card{
        border-radius: 40px;
    }
</style>

<div class="container mx-5 row">
    <div class="row row-cols-3">
        <div>
            <a href="{% url 'contacts:contact' %}" class="btn btn-outline-dark mt-5 b mx-5">Back</a>
        </div>
    </div>
</div>

<div class="container mt-5">
  <div class="row align-items-start">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card shadow-lg b">
          <div class="card-title text-center mt-4">
              <strong>
                  <h2>Contact with me</h2>
              </strong>
          </div>
          <hr/>
          <form class="card-body mt-3" method="post">{% csrf_token %}
              <div class="form-floating mx-5">
                  <input class="form-control border-dark" id="floatingInput"
                             name="name" type="text" maxlength="255">
                  <label for="floatingInput">Name</label>
              </div>
              <div class="form-floating mx-5 mt-2">
                  <textarea class="form-control border-dark" id="floatingInput"
                            type="text" name="body" style="height: 300px;"></textarea>
                  <label for="floatingInput">Your question</label>
              </div>
              <div class="mx-5">
                  <div class="card-footer text-center mx-5 row mb-3">
                      <button class="btn btn-success btn-lg mt-3" type="submit">Send message</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

{% endblock %}