{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="container mx-5 row">
    <div class="row row-cols-3">
        <div>
            <a href="{% url 'contacts:contact' %}" class="btn btn-outline-dark mt-5 b mx-5">Back</a>
        </div>
    </div>
</div>

<table class="table mt-5 shadow">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Postman</th>
      <th scope="col">Email</th>
      <th scope="col">Create_on</th>
      <th scope="col">Check</th>
    </tr>
  </thead>
  <tbody>
  {% for m in mess %}
    <tr>
      <th scope="row">{{m.pk}}</th>
      <td>{{m.name}}</td>
      <td>{{m.postman}}</td>
      <td>{{m.postman.email}}</td>
      <td>{{mes.create_on}}</td>
      <td>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'contacts:detail' m.slug %}">Check</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
