{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block script %}
    <script rel="javascript" type="text/javascript" src="{% static 'js/blog.js' %}" defer></script>
{% endblock %}

{% block content %}
<style>
    img{
        width: 75%;
        border-radius: 15px;
    }
    .b{
        border-radius: 15px;
    }
    .card{
        border-radius: 40px;
    }
</style>

{% if user.is_admin %}
<div class="container mx-5 row">
    <div class="row row-cols-3">
        <div>
            <a class="mt-5 b mx-5"></a>
        </div>
        <div>
            <a href="{% url 'blogs:create' %}" class="btn btn-outline-success mt-5 b mx-5">Create blog</a>
        </div>
        <div>
            <a class="mt-5 b mx-5"></a>
        </div>
    </div>
</div>

{% endif %}

<!--<div class="container mt-5 mb-2">-->
<!--  <div class="row align-items-start">-->
<!--    <div class="col-md-2">-->
<!--        {% include 'blogs/category_table.html' %}-->
<!--    </div>-->
<!--    <div class="col-md-9">-->
<!--      <div class="card shadow-lg b">-->
<!--          {% for blog in blogs %}-->
<!--          <div class="card-body">-->
<!--              <hr/>-->
<!--            <div class="text-center mt-2">-->
<!--                <h5 class="card-title">{{blog.title}}</h5>-->
<!--            </div>-->
<!--            <hr/>-->
<!--            <div class="mx-5">-->
<!--                <p class="card-text">{{blog.body|safe|truncatechars:180}}</p>-->
<!--            </div>-->
<!--            <div class="d-grip gap-2 col-6 mx-auto row mt-3">-->
<!--                <a href="{{blog.get_absolute_url}}" class="btn btn-outline-primary b">Check</a>-->
<!--            </div>-->
<!--            <div class="card-footer text-muted text-center mt-3">-->
<!--                {% if user.is_authenticated %}-->
<!--                <strong>Author: <a href="{% url 'accounts:profile' user.id %}">{{blog.author}}</a> Create: {{blog.create_on}}</strong>-->
<!--                <form class="col-6 mx-auto mt-3 text-center" action="" method="post">{% csrf_token %}-->
<!--                    <a class="btn btn-success">{{blog.total_likes}}</a>-->
<!--                    <button class="btn-outline-success btn" type="submit" name="likes">Like</button>-->
<!--                </form>-->
<!--                 {% endif %}-->
<!--            </div>-->
<!--          </div>-->
<!--          {% endfor %}-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-1"></div>-->
<!--  </div>-->
<!--</div>-->

<!-- Ajax version -->

<div class="container mt-5 mb-2">
  <div class="row align-items-start">
    <div class="col-md-2">
    </div>
        <div class="col-md-9">
            <div class="card shadow-lg b" id="posts-box">
        </div>
        <div class="text-center mt-3 " id="more-blogs">
            <div class="d-flex justify-content-center mb-3">
              <div class="spinner-border" id="spinner-box">
                <span class="visually-hidden"></span>
              </div>
            </div>
            <button class="btn btn-outline-primary b col-md-4" id="load-btn">more</button>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

{% endblock %}
