{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<style>
    img{
        width: 75%;
        border-radius: 15px;
    }
    .b{
        border-radius: 15px;
    }
    .card{
        border-radius: 40px;
    }
</style>

{% if user.is_admin %}
<div class="container mx-5 row">
    <div class="row row-cols-3">
        <div>
            <a class="mt-5 b mx-5"></a>
        </div>
        <div>
            <a href="{% url 'blogs:create' %}" class="btn btn-outline-success mt-5 b mx-5">Create blog</a>
        </div>
        <div>
            <a class="mt-5 b mx-5"></a>
        </div>
    </div>
</div>
{% endif %}


<div class="container mt-5 mb-3">
  <div class="row align-items-start">
    <div class="col-md-2">
        {% include 'blogs/category_table.html' %}
    </div>
    <div class="col-md-9">
      <div class="card shadow-lg b">
          {% for blog in blogs %}
          <div class="card-body">
              <hr/>
            <div class="text-center mt-2">
                <h5 class="card-title">{{blog.title}}</h5>
            </div>
            <hr/>
            <div class="mx-5">
                <p class="card-text">{{blog.body|safe|truncatechars:180}}</p>
            </div>
            <div class="d-grip gap-2 col-6 mx-auto row mt-3">
                <a href="{{blog.get_absolute_url}}" class="btn btn-outline-primary b">Check</a>
            </div>
            <div class="card-footer text-muted text-center mt-3">
                <strong>Author: <a href="{% url 'accounts:profile' user.id %}">{{blog.author}}</a> Create: {{blog.create_on}}</strong>
                <form class="col-6 mx-auto mt-3 text-center" action="{% url 'blogs:like' blog.author.id %}" method="post">{% csrf_token %}
                    <a class="btn btn-success">{{blog.total_likes}}</a><button class="btn-outline-success btn" type="submit" name="likes" value="{{blog.id}}">Like</button>
                </form>
            </div>
          </div>
          {% endfor %}
        </div>
        </div>
        </div>
    <div class="col-md-1"></div>
  </div>
</div>


<div>
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    </li>
    <li class="page-item mt-2 m-1" style="color: cornflowerblue">
         {{ page_request_var }} {{ page_obj.number }}
    </li>

    <li class="page-item">
        {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </li>
  </ul>
</div>

{% endblock %}
