{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<style>
    img{
        width: 75%;
        border-radius: 15px;
    }
    .b{
        border-radius: 15px;
    }
    .card{
        border-radius: 40px;
    }
</style>

{% if user.is_admin %}
<div class="container mx-5 row">
    <div class="row row-cols-3">
        <div>
            <a class="mt-5 b mx-5"></a>
        </div>
        <div>
            <a href="{% url 'blogs:create' %}" class="btn btn-outline-success mt-5 b mx-5">Create blog</a>
        </div>
        <div>
            <a class="mt-5 b mx-5"></a>
        </div>
    </div>
</div>
{% endif %}

{% for blog in blogs %}
<div class="container mt-5 mb-3">
  <div class="row align-items-start">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card shadow-lg b">
        <div class="card-header mt-3"></div>
          <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{blog.title}}</h5>
            </div>
            <hr/>
            <div class="mx-5">
                <p class="card-text">{{blog.body|truncatechars:180}}</p>
            </div>
            <div class="d-grip gap-2 col-6 mx-auto row mt-3">
                <a href="{{blog.get_absolute_url}}" class="btn btn-outline-primary b">Check</a>
            </div>
            <div class="card-footer text-muted text-center mt-3">
                <strong>Author: {{blog.author}} Create: {{blog.create_on}}</strong>
            </div>
          </div>
        </div>
        </div>
        </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endfor %}

<div>
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if page_obj.has_previous %}
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    </li>
    <li class="page-item mt-2 m-1" style="color: cornflowerblue">
         {{ page_request_var }} {{ page_obj.number }}
    </li>

    <li class="page-item">
        {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </li>
  </ul>
</div>

{% endblock %}
