

<div class="container">
    <div class="p-4">
        <div class="text-center">
            <h4>Your want to delete this blog?</h4>
        </div>
        <hr/>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="text-center mt-4">
                <button class="btn btn-danger btn-lg mx-5" type="submit">Yes</button>
                <a class="btn btn-dark btn-lg mx-5" href="{% url 'blogs:detail' blogs.slug %}">No</a>
            </div>
        </form>
    </div>
</div>
