{% extends 'master.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}

<style>
    img{
        width: 75%;
        border-radius: 15px;
    }
    .b{
        border-radius: 35px;
    }
</style>

<div class="container mx-5 row">
    <div class="row row-cols-3">
        <div>
            <a href="{% url 'blogs:detail' blog.slug %}" class="btn btn-outline-dark mt-5 b mx-5">Back</a>
        </div>
    </div>
</div>

<form class="p-4 mx-5 shadow-lg" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="mx-5 p-5">
        <div class="m-4 text-center">
            <h4><strong>Create blog</strong></h4>
        </div>
        <div class="m-4">
            <input class="form-control" name="title" value="{{ form.initial.title }}">
        </div>
        <div class="m-4 mx-auto">
            {{form.media}}{{form.body}}
        </div>
        <div class="m-4">
            <input class="form-control" type="file" name="image" src="{{form.initial.image.url}}">
        </div>
        <div class="">
            <div class="">
                <hr/>
            <div class="row mb-3 d-grip gap-2 col-6 mx-auto mt-3">
                <button type="submit" class="btn btn-outline-primary">Update</button>
            </div>
        </div>
    </div>
    </div>
</form>

{% endblock %}
